.close {
  cursor: pointer;
}
.well {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) auto;
  align-items: center;
}

.weather {
  display: grid;
  justify-items: center;
}

img {
  width: 100%;
}
